In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data")

In [3]:
data.shape

(698, 11)

In [4]:
data.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [5]:
data.columns=list('abcdefghij')+['class']

In [6]:
data.head()

         a  b   c   d  e  f   g  h  i  j  class
0  1002945  5   4   4  5  7  10  3  2  1      2
1  1015425  3   1   1  1  2   2  3  1  1      2
2  1016277  6   8   8  1  3   4  3  7  1      2
3  1017023  4   1   1  3  2   1  3  1  1      2
4  1017122  8  10  10  8  7  10  9  7  1      4

In [7]:
data=data.replace('?',12)

In [8]:
data.head()

         a  b   c   d  e  f   g  h  i  j  class
0  1002945  5   4   4  5  7  10  3  2  1      2
1  1015425  3   1   1  1  2   2  3  1  1      2
2  1016277  6   8   8  1  3   4  3  7  1      2
3  1017023  4   1   1  3  2   1  3  1  1      2
4  1017122  8  10  10  8  7  10  9  7  1      4

In [9]:
data.to_csv('bcancer.csv')

In [10]:
import os
os.getcwd()

'C:\\Users\\pulki'

In [11]:
dt=pd.read_csv('bcancer.csv')

In [12]:
dt.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
       'class'],
      dtype='object')

In [13]:
dt.head()

   Unnamed: 0        a  b   c   d  e  f   g  h  i  j  class
0           0  1002945  5   4   4  5  7  10  3  2  1      2
1           1  1015425  3   1   1  1  2   2  3  1  1      2
2           2  1016277  6   8   8  1  3   4  3  7  1      2
3           3  1017023  4   1   1  3  2   1  3  1  1      2
4           4  1017122  8  10  10  8  7  10  9  7  1      4

In [14]:
dt.drop('Unnamed: 0',axis=1,inplace=True)

In [15]:
dt.head()

         a  b   c   d  e  f   g  h  i  j  class
0  1002945  5   4   4  5  7  10  3  2  1      2
1  1015425  3   1   1  1  2   2  3  1  1      2
2  1016277  6   8   8  1  3   4  3  7  1      2
3  1017023  4   1   1  3  2   1  3  1  1      2
4  1017122  8  10  10  8  7  10  9  7  1      4

In [16]:
x=dt[['b','c','d','e','f','g','h','i','j']]#dt.drop(['class','a'],axis=1)
y=dt['class']

In [17]:
x.shape,y.shape

((698, 9), (698,))

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.3)

In [20]:
x_tr.shape,x_ts.shape,y_tr.shape,y_ts.shape

((488, 9), (210, 9), (488,), (210,))

In [21]:
y_ts

435    4
115    2
320    2
40     4
455    4
238    4
541    2
575    2
456    4
697    4
605    2
501    2
375    2
388    2
504    2
121    4
588    2
418    2
498    2
652    2
27     2
296    2
38     4
507    2
480    2
558    2
37     4
656    2
364    2
592    2
      ..
525    2
423    2
181    2
318    2
135    2
160    2
415    4
651    2
211    2
544    2
561    2
239    2
253    4
487    4
409    2
384    2
278    4
500    2
549    2
223    4
465    4
147    2
117    2
429    2
479    2
527    2
240    2
58     4
68     2
650    2
Name: class, Length: 210, dtype: int64

In [22]:
from sklearn.neighbors import KNeighborsClassifier
algo2=KNeighborsClassifier()
algo2.fit(x_tr,y_tr)
algo2.score(x_ts,y_ts)

0.9761904761904762